body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
}
footer {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px darkslategrey;
}

#content {
    margin: 1rem;
}

#toggleQrCode {
    cursor: pointer;
    font-weight: bold;
}

.showHideQrCode {
    display: none;
}

.qrcode {
    width: 200px;
}

@media (min-width: 800px) {
    #content {
        margin: 0 auto;
        width: 750px;
    }
}