html {
    font-size: 16px;
}

body {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    height: 100vh;
    background: linear-gradient(180deg, rgb(219, 244, 208) 0%, rgb(45, 117, 21) 100%);
}

main {
    max-width: 800px;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid lightgray;
    background-color: rgba(255, 255, 255, .6);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .8);
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

p {
    color: #ff0000;
}

/* lists */
ul {
    list-style-type: '🎄';
}

li {
    list-style-position: inside;
}

/* images */
.grayscale {
    filter: grayscale(100%);
    border: 1px solid #000;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
    transition: 1s;
}

.grayscale:hover {
    filter: grayscale(0%);
    border-radius: 50%;
    transform: rotate(360deg);
}

/* table */
table {
    border: 1px solid #000;
    border-collapse: collapse;
}

thead {
    background-color: darkslategrey;
    color: white;
}

th, td {
    padding: .5rem;
}

caption {
    caption-side: bottom;
    font-size: .8rem;
    font-style: italic;
}

tbody td {
    background-color: #fff;
    border: 1px solid #000;
}

tbody td:hover {
    background-color: rgba(14, 88, 42, 0.3);
}